body{
	margin-bottom: 10%;
	margin-top: 10%;
	margin-left: 25%;
	font-family: "Century Gothic";
	font-size: 18px;

}
#jumbo{
	background: white;
}

.page-header{
	margin-top: 0;
	font-size: 20px;
}
.panel-body{
	padding-top: 0;
}
.list-group{
	position: fixed;
}

.dropdown-menu {
	font-size: 18px;
}

div.img img{
	display: inline;
	margin: -50px;
	margin-left: 1px;
}

div.imgLogo img{
	display: inline;
	margin-left: 280px;
}

.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
		color: black;
		font-family: "Century Gothic";
		font-size: 16px;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#ffffff;
    margin-right: 2px;
    margin-left: 2px;
}


h1{
	font-style: italic;
	font-family: "Century Gothic";
}

h3 {
	color: white;
	font-family: "Century Gothic";
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
		font-family: "Century Gothic";

}

p{
		color: white;
		font-family: "Century Gothic";
		font-size: 18px;
}

.jumbotron {
	background-color: white;
}

 /*
.form-search{
	border-radius: 20%;

}
.search-query{
	border-radius: 5%;
	padding-left: 2px;
}
 */

 #separationLine{
    color:#87CEEB;
 }
#modalLabel{
    color:black;
    font-family: "Century Gothic";
}